# Node.js directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store

.cache/
thumbs.db

# Environment files
.env
.env.local

# Log files
*.log

.vscode/
package-lock.json
package.json